[Desktop Entry]
Name[ab]=Аклассикатә GNOME Wayland аҟны
Name[bg]=Класически GNOME в Wayland
Name[ca]=GNOME clàssic amb Wayland
Name[cs]=GNOME klasik na Waylandu
Name[da]=GNOME Classic på Wayland
Name[de]=GNOME Classic unter Wayland
Name[es]=GNOME clásico en Wayland
Name[eu]=GNOME klasikoa Wayland gainean
Name[fa]=گنوم کلاسیک روی وی‌لند
Name[fi]=Perinteinen Gnome Waylandia käyttäen
Name[fr]=GNOME Classique sur Wayland
Name[fur]=GNOME Classic su Wayland
Name[gl]=GNOME clásico en Wayland
Name[he]=‏GNOME קלסי על גבי Wayland
Name[hr]=GNOME klasičan na Waylandu
Name[hu]=Klasszikus GNOME Waylanden
Name[id]=GNOME Klasik di Wayland
Name[is]=Hefðbundið GNOME á Wayland
Name[it]=GNOME classico su Wayland
Name[ja]=GNOME クラシック on Wayland
Name[ka]=GNOME CLassic Wayland-ზე
Name[kk]=Wayland негізіндегі классикалық GNOME
Name[ko]=그놈 클래식 (웨일랜드)
Name[lt]=Klasikinis GNOME Wayland aplinkoje
Name[lv]=Klasiskais GNOME ar Wayland
Name[nl]=Gnome klassiek op Wayland
Name[oc]=GNOME Classic sus Wayland
Name[pl]=Klasyczne GNOME (Wayland)
Name[pt]=GNOME clássico em Wayland
Name[pt_BR]=GNOME Clássico no Wayland
Name[ru]=Классический GNOME на Wayland
Name[sk]=Klasické prostredie GNOME so systémom Wayland
Name[sl]=Klasično namizje GNOME na sistemu Wayland
Name[sr]=Класичан Гном на Вејленду
Name[sv]=GNOME Klassisk på Wayland
Name[tr]=Wayland üstünde GNOME Klasik
Name[uk]=Класичний GNOME на Wayland
Name[vi]=GNOME cổ điển trên Wayland
Name[zh_CN]=GNOME Wayland 经典模式
Name[zh_TW]=GNOME Classic 採行 Wayland
Name=GNOME Classic on Wayland
Comment[ab]=Ари асеанс аклассикатә усуратә еишәа GNOME хархәагас иамоуп 
Comment[af]=Hierdie sessie laat mens aanmeld by GNOME Klassiek
Comment[an]=Ista sesión encieta lo GNOME clasico
Comment[ar]=تولجك هذه الجلسة في جنوم التقليدية
Comment[as]=এই অধিবেশনে আপোনাক GNOME ক্লাচিকলৈ লগ কৰে
Comment[be]=Гэты сеанс выкарыстоўвае класічны GNOME
Comment[bg]=Работната среда изглежда като класическия GNOME (2.x)
Comment[bn_IN]=এই সেশন আপনাকে GNOME ক্লাসিকে লগ করায়
Comment[bs]=Ova sesija vas prijavljuje na klasični GNOME
Comment[ca]=Aquesta sessió us permet utilitzar el GNOME clàssic
Comment[ca@valencia]=Esta sessió vos permet utilitzar el GNOME clàssic
Comment[cs]=Toto sezení vás přihlásí do GNOME klasik
Comment[da]=Denne session logger dig ind i GNOME Classic
Comment[de]=Diese Sitzung meldet Sie in GNOME Classic an
Comment[el]=Αυτή η συνεδρία σας συνδέει στο GNOME Classic
Comment[en_GB]=This session logs you into GNOME Classic
Comment[eo]=Ĉi tiu seanco ensalutas vin GNOME-klasiken
Comment[es]=Esta sesión inicia GNOME clásico
Comment[et]=See on klassikalise GNOME seanss
Comment[eu]=Saio honek GNOME Klasikoa hasten du
Comment[fa]=این نشست شما را به گنوم کلاسیک وارد می‌کند
Comment[fi]=Tämä istunto kirjaa sinut perinteiseen Gnomeen
Comment[fr]=Cette session vous connecte à GNOME Classique
Comment[fur]=Cheste session ti fâs jentrâ in GNOME Classic
Comment[gd]=Clàraidh an seisean seo a-steach gu GNOME clasaigeach thu
Comment[gl]=Esta sesión iniciarao en GNOME clásico
Comment[gu]=આ સત્ર તમને GNOME ક્લાસિકમાં પ્રવેશ આપે છે
Comment[he]=הפעלה זו מכניסה אותך למצב הקלסי של GNOME
Comment[hi]=यह सत्र गनोम क्लासिक में आपको लॉगइन करेगा
Comment[hr]=Ova sesija vas prijavljuje u klasičan GNOME
Comment[hu]=Bejelentkezés a klasszikus GNOME környezetbe
Comment[id]=Sesi ini memasukkan Anda ke GNOME Klasik
Comment[is]=Þessi seta skráir þig inn í klassískt GNOME
Comment[it]=Questa sessione si avvia con GNOME classico
Comment[ja]=GNOME クラシックモードでログインします
Comment[ka]=ეს სესია შეგიყვანთ GNOME Classic-ში
Comment[kab]=Tiɣimit-agi ak-teqqen ɣer GNOME aklasiki
Comment[kk]=Бұл сессия арқылы классикалық GNOME ішіне кіресіз
Comment[km]=សម័យ​នេះ​នឹង​ឲ្យ​អ្នក​ចូល GNOME Classic
Comment[kn]=ಈ ಅಧಿವೇಶನವು ನಿಮ್ಮನ್ನು GNOME ಕ್ಲಾಸಿಕ್‌ಗೆ ಪ್ರವೇಶಿಸುವಂತೆ ಮಾಡುತ್ತದೆ
Comment[ko]=이 세션을 사용하면 그놈 클래식에 로그인합니다
Comment[lt]=Šis seansas prijungs jus prie klasikinio GNOME
Comment[lv]=Šī sesija ieraksta jūs klasiskajā GNOME vidē
Comment[ml]=ഈ പ്രവര്‍ത്തനവേള നിങ്ങളെ ഗ്നോം ക്ലാസ്സിക്കിലേക്കു് കയറ്റുന്നു
Comment[mr]=हे सत्र तुम्हाला GNOME क्लासिक सत्रामध्ये प्रवेश करून देतो
Comment[ms]=Sesi ini mendaftarkan masuk anda ke dalam Klasik GNOME
Comment[nb]=Denne økten logger inn i klassisk GNOME
Comment[ne]=यो सेसन जिनोम क्लासिकमा लगईन हुन्छ
Comment[nl]=Deze sessie meldt u aan bij Gnome klassiek
Comment[oc]=Aquesta session vos connècta a GNOME Classic
Comment[or]=ଏହି ଅଧିବେଶନ ଆପଣଙ୍କୁ GNOME କ୍ଲାସିକରେ ଲଗ କରାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ ਤੁਹਾਨੂੰ ਗਨੋਮ ਕਲਾਸਿਕ ਵਿੱਚ ਲਾਗ ਕਰਦਾ ਹੈ
Comment[pl]=Ta sesja loguje do klasycznego środowiska GNOME
Comment[pt]=Esta sessão vai usar o GNOME clássico
Comment[pt_BR]=Essa sessão se inicia como GNOME Clássico
Comment[ro]=Această sesiune vă autentifică în GNOME Clasic
Comment[ru]=Данный сеанс использует классический рабочий стол GNOME
Comment[sk]=Táto relácia vás prihlási do klasického prostredia GNOME
Comment[sl]=Seja omogoča prijavo v klasično namizje GNOME.
Comment[sr]=Ова сесија вас пријављује у класичан Гном
Comment[sr@latin]=Ova sesija vas prijavljuje u klasičan Gnom
Comment[sv]=Denna session loggar in dig till GNOME Klassisk
Comment[ta]=இந்த அமர்வு உங்களை GNOME கிளாஸிக்கில் புகுபதிவு செய்யும்
Comment[te]=ఈ సెషన్ గ్నోమ్‌ క్లాసిక్ లోనికి లాగ్ చేస్తుంది
Comment[tg]=Ин ҷаласа шуморо ба GNOME-и классикӣ ворид мекунад
Comment[th]=วาระนี้จะนำคุณเข้าสู่ระบบ GNOME คลาสสิก
Comment[tr]=Bu oturum GNOME Klasik’e girmenizi sağlar
Comment[uk]=Це — сеанс входу в класичний GNOME
Comment[vi]=Phiên làm việc này đăng nhập bạn vào GNOME cổ điển
Comment[zh_CN]=该会话将登录到“GNOME 经典模式”
Comment[zh_HK]=這個作業階段讓你登入 GNOME Classic
Comment[zh_TW]=這個作業階段讓您登入 GNOME Classic
Comment=This session logs you into GNOME Classic
Exec=env GNOME_SHELL_SESSION_MODE=classic gnome-session
TryExec=gnome-session
Type=Application
DesktopNames=GNOME-Classic;GNOME;
X-GDM-SessionRegisters=true
